@use "../../sass/index" as *;

.results {
  $modal-background-color: $color-black;
  $modal-close-button-text-color: $color-white;
  $modal-close-button-background-color: $color-black;
  $red-gradient: monochrome-gradient($color-red, 45deg);
  $purple-gradient: monochrome-gradient($color-purple, 45deg);

  $results-ready-text-background: monochrome-gradient(
    lighten-1($color-purple),
    45deg
  );
  $red-house-text-background: monochrome-gradient(lighten-1($color-red), 45deg);
  $blue-house-text-background: monochrome-gradient(
    lighten-1($color-blue),
    45deg
  );
  $yellow-house-text-background: monochrome-gradient(
    lighten-1($color-yellow),
    45deg
  );
  $green-house-text-background: monochrome-gradient(
    lighten-1($color-green),
    45deg
  );
  $purple-background: monochrome-gradient(darken-4($color-purple), 45deg);
  $red-background: monochrome-gradient(darken-4($color-red), 45deg);
  $blue-background: monochrome-gradient(darken-4($color-blue), 45deg);
  $yellow-background: monochrome-gradient(darken-4($color-yellow), 45deg);
  $green-background: monochrome-gradient(darken-4($color-green), 45deg);

  background: $purple-background;

  &.is-gryffindor {
    background: $red-background;
  }

  &.is-ravenclaw {
    background: $blue-background;
  }

  &.is-hufflepuff {
    background: $yellow-background;
  }

  &.is-slytherin {
    background: $green-background;
  }

  &__container {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 $space-2;
  }

  &__pre-results-container,
  &__house-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__results-ready-title {
    @extend %h1-sans;

    font-weight: $font-weight-extrabold;
    background: $results-ready-text-background;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__reveal-house-text {
    @extend %body-sans;

    font-weight: $font-weight-bold;
    margin-top: $space-5;
  }

  &__buttons-container,
  &__button-container {
    margin-top: $space-3;
    display: flex;
    flex-direction: column;
    row-gap: $space-2;
  }

  &__you-belong-to-text {
    @extend %h3-sans;

    font-weight: $font-weight-bold;
  }

  &__winning-house-text {
    @extend %large-sans;

    font-weight: $font-weight-extrabold;
    margin-top: $space-2;

    &.is-gryffindor {
      background: $red-house-text-background;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.is-ravenclaw {
      background: $blue-house-text-background;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.is-hufflepuff {
      background: $yellow-house-text-background;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.is-slytherin {
      background: $green-house-text-background;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__want-to-submit-text {
    @extend %body-sans;

    font-weight: $font-weight-bold;
    margin-top: $space-6;
  }

  &__results-form-modal {
    display: flex;
    flex-direction: column;
    background: $modal-background-color;
    padding: $space-3;
    margin: 0 $space-2;
    border-radius: 15px;
    box-shadow: 0px 0px 20px transparentize($color-white, 0.85);

    @include breakpoint-min(bp(small)) {
      min-width: 500px;
    }
  }

  &__modal-title-and-cancel-container {
    display: flex;
    justify-content: space-between;
  }

  &__submit-your-results-text {
    @extend %h4-sans;

    color: $color-white;
    text-transform: capitalize;
  }

  &__modal-close-button {
    @extend %body-sans;

    width: fit-content;
    border: 2px solid transparent;
    transition: box-shadow 0.5s, color 0.5s;
    padding: $space-1;
    color: $modal-close-button-text-color;
    font-weight: $font-weight-bold;
    border-radius: 15px;
    line-height: 13px;
    background: linear-gradient(
          $modal-close-button-background-color,
          $modal-close-button-background-color
        )
        padding-box,
      $red-gradient border-box;

    &:hover {
      cursor: pointer;
      color: $color-black;
      box-shadow: 0 0 20px $color-red;
      background: $red-gradient padding-box, $red-gradient border-box;
    }

    &:active {
      box-shadow: 0 0 40px $color-red;
    }
  }

  &__submit-results-form {
    display: flex;
    flex-direction: column;
    margin-top: $space-4;
  }

  &__user-name-input {
    @extend %h4-sans;

    margin-bottom: $space-2;
    padding: $space-1 0;
    text-align: center;
    border-radius: 15px;
    color: $color-black;
    font-weight: $font-weight-bold;
    border: 2px solid transparent;
    transition: box-shadow 0.5s;
    background: linear-gradient($color-white, $color-white) padding-box,
      $purple-gradient border-box;

    &:hover {
      cursor: text;
      box-shadow: 0 0 20px $color-purple;
    }

    &:active {
      box-shadow: 0 0 40px $color-purple;
    }
  }
}
