@use "../../../../sass/index" as *;

.option-selector {
  $buttons-color: $color-white;
  $option-change-button-accent-color: $color-yellow;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__option-text-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: $space-3;
  }

  &__button-container {
    flex: 1;
    display: flex;
  }

  &__option-text {
    @extend %h3-sans;

    text-align: center;
  }

  &__previous-option-button,
  &__next-option-button {
    @extend %h1-sans;

    background: none;
    border: none;
    color: $buttons-color;
    font-weight: $font-weight-bold;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      filter: drop-shadow(0 0 20px $option-change-button-accent-color);
      color: lighten-2($option-change-button-accent-color);
    }

    &:active {
      color: darken-1($option-change-button-accent-color);
    }
  }

  &__previous-option-button {
    margin-left: $space-1;
    margin-right: auto;
    animation: float-right 6s ease-in-out infinite;

    @include breakpoint-min(bp(small)) {
      margin-right: $space-4;
    }
  }

  &__next-option-button {
    margin-right: $space-1;
    margin-left: auto;
    animation: float-left 6s ease-in-out infinite;

    @include breakpoint-min(bp(small)) {
      margin-right: $space-4;
    }
  }

  @keyframes float-left {
    0% {
      transform: translatex(0px);
    }
    50% {
      transform: translatex(-10px);
    }
    100% {
      transform: translatex(0px);
    }
  }

  @keyframes float-right {
    0% {
      transform: translatex(0px);
    }
    50% {
      transform: translatex(10px);
    }
    100% {
      transform: translatex(0px);
    }
  }
}
