@use "./breakpoints" as *;
@use "./fonts/OpenSans/OpenSans";

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

%font-sans {
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%h1-sans {
  @extend %font-sans;

  font-size: 42px;

  @include breakpoint-min(bp(small)) {
    font-size: 58px;
  }
}

%h2-sans {
  @extend %font-sans;

  font-size: 32px;

  @include breakpoint-min(bp(small)) {
    font-size: 42px;
  }
}

%h3-sans {
  @extend %font-sans;

  font-size: 26px;

  @include breakpoint-min(bp(small)) {
    font-size: 32px;
  }
}

%h4-sans {
  @extend %font-sans;

  font-size: 24px;
}

%body-sans {
  @extend %font-sans;

  font-size: 24px;
}

%large-sans {
  @extend %font-sans;

  font-size: 80px;
}
