@use "./sass/index" as *;

* {
  @extend %font-sans;

  margin: 0;
  box-sizing: border-box;
}

a {
  $anchor-accent-color: $color-purple;

  color: $anchor-accent-color;
  text-decoration: none;

  &:hover {
    filter: drop-shadow(0 0 20px $anchor-accent-color);
    color: lighten-2($anchor-accent-color);
  }
}
